{% extends 'base.html' %}

{% block title %}Blog post{% endblock title %}

{% block body %}

 
{% for post in allPosts %}
  <div class="row">
    <div class="col-md-8">
      {% comment %} <h3 class="pb-4 mb-4 fst-italic border-bottom">
        by {{post.author}}
      </h3> {% endcomment %}

      <article class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}}<a href="/about">{{post.author}}</a></p>

        <p>{{post.slug}}</p>
        <p>{{post.content}} </p>
        </article><!-- /.blog-post -->
    {% endfor %}
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>
{% endblock body %}

